@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

*{
    font-family: 'Average Sans', sans-serif;
}

header{
    font-size: 18pt;
    text-align: center;
}

nav#idioma{
    display: block;
    position: absolute;
    left: 1342px;
    top: 0px;
}

section#h2{
    font-size: 16pt;
}

section#h3{
    font-size: 14pt;
}

p{
    text-align: justify;
    text-indent: 50px;
    font-size: 12pt;
}

p#rodape{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 600px;
}

footer{
    text-align: center;
}