@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

* {
    font-family: 'Average Sans', sans-serif;
}

body {
    background: url("../images/bg.jpg");
    margin: 0px;
    padding: 0px;
}

header {
    font-size: 16pt;
    text-align: center;
    background:rgb(3, 73, 21);
    margin-top: -5px;
    padding-bottom: 15px;
    padding-top: 10px;
    width: 1349px;
}

div#interface {
    width: 1320px;
}

div#dividioma {
    display: block;
    position: absolute;
    background: #6D2515;
    margin: 0px;
    padding-top: 5px;
    padding-left: 1250px;
    width: 99px;
    height: 25px;
    left: 0px;
    top: 0px;
    bottom: 555px;
}

a {
    color: black;
    text-decoration: none;
}
h3 {
    font-size: 14pt;
    margin-left: 25px;
}

ul{
    margin-left: 50px;
    list-style: square;
}

p {
    text-align: justify;
    text-indent: 50px;
    font-size: 12pt;
    padding: 5px;
}

.redes{
    display: block;
    position: relative;
    text-align: center;
    margin-left: -100px;
}

.ai-lattes,.fa-linkedin{
    color:rgb(10, 10, 191);
}

i#icone{
    font-size: 24px;
}

footer {
    display: block;
    position: absolute;
    left: 600px;
}